.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  gap: 24px 24px;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  justify-content: center;
  justify-items: center;
}

.button {
  padding: 12px 24px;
  font-size: 16px;
  font-family: "goldman";
  color: var(--text-color);
  background-color: var(--contrast-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.05);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  max-width: 70%;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px solid var(--text-color);
}

.active {
  background-color: var(--text-color);
  color: var(--background-color);
  transform: none;
}

@media (max-width: 700px) {
  .filters {
    flex-direction: column;
  }
}
