.container {
  background-color: var(--card-color);
  color: var(--text-color);
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  outline: 2px solid transparent;
}

.container:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  outline: 1px solid var(--contrast-color);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-items: stretch;
  gap: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
  word-wrap: break-word;
  text-align: left;
}

.right {
  flex: 0 0 auto;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.top {
  flex-shrink: 0;
}

.middle {
  flex-grow: 1;
}

.bottom {
  flex-shrink: 0;
  margin-top: auto;
}

.title {
  color: var(--contrast-color);
  text-align: left;
  font-size: 24px;
  font-family: "pixelifySans";
  margin-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  font-family: "jersey10";
  color: var(--contrast-color);
  margin-top: 10px;
  margin-bottom: 20px;
}

.text {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  font-family: "jersey10";
  white-space: pre-line;
}

.link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  font-family: "jersey10";
  color: var(--contrast-color);
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: stretch;
  }

  .left {
    width: 100%;
    max-height: none;
    overflow: visible;
  }

  .middle {
    max-height: none;
    overflow: visible;
    padding-right: 0;
  }

  .right {
    width: 100%;
    max-width: none;
    margin-top: 0px;
  }

  .tags {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
