.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  min-height: 100%;
  position: relative;
  margin-top: 60px;
  padding-top: 3%;
  padding-bottom: 6%;
  background-color: black;
  margin-top: 200px;
  border-top: 2px solid var(--complement-color);
}

.content {
  width: 80%;
  margin: 0 auto;
}

.text {
  font-family: "ubuntu";
  font-size: 16px;
  color: var(--contrast-color);
  list-style-position: inside;
  text-align: center;
}
