.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  padding-top: 3%;
  padding-bottom: 6%;
  background-color: black;
  margin-top: 200px;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.text {
  font-family: "jersey10";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  list-style-position: inside;
  text-align: center;
}
