.container {
  margin-top: -45px;
  padding-top: 90px;
  background-image: linear-gradient(rgb(61, 116, 255), rgb(47, 47, 47));
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: left;
  flex-wrap: nowrap;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  max-width: 250px;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid white;
  max-width: 100%;
  height: auto;
}

.left span {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.left span a img {
  width: 30px;
}

.right {
  flex: 1 1 0;
  max-width: 600px;
  min-width: 0;
  overflow-wrap: break-word;
}

.title {
  font-family: pixelifySans;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.subtitle {
  font-family: pixelifySans;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.text {
  font-family: jersey10;
  font-size: 20px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
}

@media (max-width: 900px) {
  .container {
    padding-top: 10%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .left {
    max-width: 150px;
    margin-bottom: 30px;
  }

  .right {
    max-width: 100%;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .subtitle {
    font-size: 18px;
    text-align: center;
  }

  .text {
    font-size: 18px;
    text-align: center;
  }
}
