.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.text {
  font-family: "ubuntu";
  color: var(--text-color);
  list-style-position: inside;
  text-align: left;
}
