.container {
  margin-top: -45px;
  padding-top: 160px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: left;
  flex-wrap: nowrap;
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid var(--complement-color);
  max-width: 200px;
  height: auto;
}

.top {
  flex: 1 1 0;
  max-width: 600px;
  min-width: 0;
  overflow-wrap: break-word;
}

.title {
  font-family: goldman;
  font-weight: bold;
  font-size: 60px;
  margin: 10px 0px;
  color: var(--contrast-color);
  text-align: center;
}

.subtitle {
  font-family: goldman;
  font-size: 32px;
  margin: 10px 0px;
  color: var(--contrast-color);
  text-align: center;
}

.text {
  font-family: ubuntu;
  font-size: 16px;
  margin: 10px 0px;
  overflow-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
  text-align: center;
}

.icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .container {
    padding-top: 30%;
  }
  .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .top {
    max-width: 75%;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 20px;
  }
}
