.container {
  margin-top: -45px;
  padding-top: 200px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: left;
  flex-wrap: nowrap;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  max-width: 250px;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid var(--complement-color);
  max-width: 200px;
  height: auto;
}

.left span {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.left span a img {
  width: 30px;
}

.right {
  flex: 1 1 0;
  max-width: 500px;
  min-width: 0;
  overflow-wrap: break-word;
}

.title {
  font-family: goldman;
  font-weight: bold;
  font-size: 32px;
  margin: 10px 0px;
  color: var(--contrast-color);
  text-align: center;
}

.subtitle {
  font-family: goldman;
  font-size: 16px;
  margin: 10px 0px;
  color: var(--text-color);
  text-align: center;
}

.text {
  font-family: jersey10;
  font-size: 16px;
  margin: 10px 0px;
  overflow-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
  text-align: center;
}

.icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 600px) {
  .container {
    padding-top: 40%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .left {
    max-width: 150px;
    margin-bottom: 30px;
  }

  .right {
    max-width: 75%;
  }
}
