.container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--contrast-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--text-color);
  z-index: 999;
  height: 45px;
  margin: 0;
  display: flex;
  align-items: center;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.left {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  align-items: center;
}

.right {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;
  align-items: center;
}

.right img {
  height: 18px;
  width: auto;
  display: block;
}

.center {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  color: var(--text-color);
  font-family: goldman;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  max-height: 40px;
  line-height: 1;
}

.text {
  color: var(--text-color);
  font-family: goldman;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
}

.text:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .left {
    left: 5%;
  }

  .right {
    gap: 10px;
    right: 5%;
  }
}
