.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.text {
  text-align: center;
  font-family: "goldman";
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
  margin: 20px 0px;
}

@media (max-width: 600px) {
  .content {
    padding: 0 20px;
  }
}
