@font-face {
  font-family: "pixelifySans";
  src: url("./assets/fonts/PixelifySans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: "jersey10";
  src: url("./assets/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section {
  scroll-margin-top: 45px;
}

#root {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  margin: 30px 60px;
  text-align: left;
  font-family: "pixelifySans";
  font-size: 32px;
  color: var(--text-color);
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px;
  text-wrap: none;
}
