@font-face {
  font-family: "pixelifySans";
  src: url("./assets/fonts/PixelifySans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: "jersey10";
  src: url("./assets/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #030d1f;
  --gradient-color: #337aff;
  --complement-color: #2a467b;
  --text-color: #a5b7d8;
  --contrast-color: rgb(255, 255, 255);
  --card-color: rgba(61, 91, 128, 0.25);
  --tag-color: rgba(50, 139, 255, 0.2);
}

body {
  background-color: var(--background-color);
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section {
  scroll-margin-top: 45px;
}

#root {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: var(--contrast-color);
  margin: 20px auto;
  width: 70%;
  text-align: left;
  font-family: "pixelifySans";
  font-size: 32px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 20px 0px;
  text-wrap: none;
}
