@font-face {
  font-family: "pixelifySans";
  src: url("./assets/fonts/PixelifySans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: "jersey10";
  src: url("./assets/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #091014;
  --gradient-color: #2e698b;
  --complement-color: #586973;
  --text-color: #ffffff;
  --contrast-color: #1ba4d6;
  --card-color: rgba(65, 105, 128, 0.2);
  --tag-color: rgba(37, 112, 197, 0.3);
}

body {
  background-color: var(--background-color);
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section {
  scroll-margin-top: 45px;
}

#root {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: var(--contrast-color);
  margin: 20px auto;
  width: 90%;
  text-align: left;
  font-family: "pixelifySans";
  font-size: 32px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px;
  text-wrap: none;
}
