@font-face {
  font-family: "pixelifySans";
  src: url("./assets/fonts/PixelifySans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: "jersey10";
  src: url("./assets/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "goldman";
  src: url("./assets/fonts/Goldman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "goldman";
  src: url("./assets/fonts/Goldman-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #050915;
  --complement-color: #151328;
  --text-color: #ffffff;
  --contrast-color: #666bd2;
  --tag-color: rgba(61, 91, 128, 0.25);
}

body {
  background-color: var(--background-color);
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section {
  scroll-margin-top: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  scroll-margin-top: 120px;
  color: var(--contrast-color);
  margin: 20px auto;
  margin-top: 200px;
  width: 75%;
  text-align: center;
  font-family: "goldman";
  font-weight: bold;
  font-size: 32px;
}

.sectionSubTitle {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  font-family: "ubuntu";
  margin: 0 40px 40px 40px;
}

.my {
  color: var(--text-color);
  margin-right: 8px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-wrap: none;
}
