.imageDisplay {
  position: relative;
  width: 100%;
  height: 200px;
  flex: 0 0 200px;
  box-sizing: border-box;
  overflow: hidden;
  background: white;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "goldman";
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 10px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
